/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  padding-top: 25vh; /* Added */
  padding-bottom: 25vh; /* Added */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

#header .profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#header .profile img {
  width: 120px;
  border: 8px solid #2c2f3f;
  border-radius: 50%;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-left: 20px;
}

/* Navigation styles */
nav {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  
  background: #040b14;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-bottom: 8px;
}

nav a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 15px;
  text-decoration: none;
}

nav a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

nav a:hover,
nav .active,
nav .active:focus,
nav li:hover > a {
  color: #fff;
}

nav a:hover i,
nav .active i,
nav .active:focus i,
nav li:hover > a i {
  color: #149ddd;
}

/* Content padding to avoid overlapping with fixed navigation */


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  display: flex;
  align-items: center;
}

.about .content .image {
  flex: 0 0 auto;
  margin-right: 20px;
}

.about .content .image img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.about .content .text {
  flex: 1 1 auto;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title .portfolio .about .contact{
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.card-img-top {
  height: 300px;
  width: 250px;
  padding: 10px;
  margin: 5px; /* Add margin to create spacing between images */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
  opacity: 0.5;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: bold;
}

.card:hover .card-title {
  opacity: 1;
}

.portfolio-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Increase z-index value to position above card-title */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-wrap:hover .portfolio-links {
  opacity: 1;
}

.card a {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-color);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
  text-align: center;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding-top: 100px;
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: relative;
  left: 0;
  width: 100vw;
  z-index: 9999;
  background: #040b14;
  text-align: center;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
